<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ijwl_javabackend.mapper.A002WordsMapper">

    <select id="getUnitNumbers" resultType="java.lang.String">
        SELECT DISTINCT category
        FROM words
        WHERE category IS NOT NULL
    </select>

    <select id="getAllWords" resultType="com.example.ijwl_javabackend.entity.A002GetWordsListBean">
        SELECT word_id, japanese, chinese FROM words
        WHERE category IN
        <foreach
                collection="unitNumbers"
                item="unitNumber"
                open="("
                separator=","
                close=")">
            #{unitNumber}
        </foreach>
    </select>

    <select id="getBatsuWords" resultType="com.example.ijwl_javabackend.entity.A002GetWordsListBean">
        SELECT DISTINCT w.word_id, w.japanese, w.chinese FROM words AS w
        JOIN test_wrong_answers AS tsa ON w.word_id = tsa.word_id
        WHERE tsa.user_id = #{userId}
    </select>

    <select id="getMarkedWords" resultType="com.example.ijwl_javabackend.entity.A002GetWordsListBean">
        SELECT w.word_id, w.japanese, w.chinese FROM words AS w
        JOIN user_notes AS un ON w.word_id = un.word_id
        WHERE un.user_id = #{userId}
    </select>

    <select id="searchWord" resultType="com.example.ijwl_javabackend.entity.A002GetSearchingWordBean">
        SELECT japanese, chinese FROM words
        WHERE japanese LIKE CONCAT('%', #{word}, '%')
        OR chinese LIKE CONCAT('%', #{word}, '%')
    </select>

    <insert id="markWord">
        INSERT INTO user_notes (word_id, user_id, memo)
        VALUES
        <foreach
                collection="insertTargets"
                item="item"
                separator=",">
            (#{item.wordId},
            #{userId},
            #{item.memo})
        </foreach>
    </insert>

    <select id="getComment" resultType="String">
        SELECT memo FROM user_notes
        WHERE word_id = #{a002GetCommentDto.wordId}
        AND user_id = #{userId}
    </select>

    <insert id="updateComment">
        INSERT INTO user_notes (
        user_id,
        word_id,
        memo
    )
    VALUES (
        #{userId},
        #{a002UpdateCommentDto.wordId},
        #{a002UpdateCommentDto.memo}
    )
    ON DUPLICATE KEY UPDATE
        memo = #{a002UpdateCommentDto.memo}
    </insert>

    <delete id="unmarkWord">
        DELETE FROM user_notes
        WHERE word_id IN
        <foreach
                collection="a002UnmarkAndDeleteWordDto"
                item="item"
                open="("
                separator=","
                close=")"
        >
            #{item.wordId}
        </foreach>
        AND user_id = #{userId}
    </delete>

    <delete id="deleteBatsuWord">
        DELETE FROM test_wrong_answers
        WHERE word_id IN
        <foreach
                collection="a002UnmarkAndDeleteWordDto"
                item="item"
                open="("
                separator=","
                close=")"
        >
            #{item.wordId}
        </foreach>
        AND user_id =  #{userId}
    </delete>

    <insert id="recordBatsuWord">
        INSERT INTO test_wrong_answers (word_id, user_id, session_id)
        VALUES
        <foreach
                collection="insertTargets"
                item="item"
                separator=","
        >
            (#{item.wordId}, #{userId}, #{item.sessionId})
        </foreach>
    </insert>

</mapper>
